<section class="nav">
  <div class="logo"><a href="#"><img src="./logo.png" alt="" />
    <div>
      Yago Gonzalez
    </div>
    </a>
  </div>
  <div class="name">
    <a href="#">Yago Gonzalez</a>
  </div>
  
  <div class="navigation">
    <ul class="navul">
      <a href="#"><li>
        <i class="fa fa-user" aria-hidden="true"></i>
        <span class="nav_text">About</span>
      </li></a>
      <a href="#"><li>
        <i class="fa fa-code" aria-hidden="true"></i>
        <span class="nav_text">Skills</span>
      </li></a>
      <a href="#"><li>
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        <span class="nav_text">Work</span>
      </li></a>
      <a href="#"><li>
        <i class="fa fa-mortar-board" aria-hidden="true"></i>
        <span class="nav_text">Education</span>
      </li></a>
      <a href="#"><li>
        <i class="fa fa-folder" aria-hidden="true"></i>
        <span class="nav_text">Portfolio</span>
      </li></a>
    </ul>
  </div>
  <div class="cv">
    <a href="#" class="btn_cv"><i class="fa fa-cloud-download" aria-hidden="true"></i> CV</a>
  </div>
</section>
<section class="section">
  {{title}}
</section>